# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* To know some popular languages that Data Scientists use.
* Learn some commonly used libraries by Data Scientists.
* Example Open Source Tools for Data Science.
* Learn how to evaluate arithmetic expressions.
* Examples of computing arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Matplotlib
4. Tensorflow
5. SciPy
6. Pillow

| __Data Science Tools__ |
|:------------------:|
|       Rstudio      |
|    Apache Spark    |
|       Hadoop       |

 ### _Below are a few examples of evaluating arithmetic expressions in Python_ 

| __Operator__ | __Syntax__ | __Working__ |
|:------------:|:----------:|:-----------:|
| + | x+y | Addition or summation of x and y. |
| - | x-y | Subtraction of y from x. |
| x | xxy | Multiplication or product of x and y. |
| / | x/y | Division of x and y. |

In [7]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Mika Banayo